<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <h1 class="logo">LOGO</h1>
      <p class="description">This app helps you add Facebook Login to your Ionic 4 App.</p>
      <p class="description">Courtesy of <a href="https://ionicthemes.com" target="_blank">IonicThemes</a> Team ;)</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="primary" expand="block" (click)="doFbLogin()">
        LOG IN WITH FACEBOOK
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
