.login-content{
  --background: #FF6347;
}

.logo {
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.description {
  color: white;
  font-size: 22px;
  text-align: center;
}

.log-in-button {
  margin-top: 40px;
  font-weight: bold;
}
